div {
	color: ;
	font-family: 'Crimson Text', Times New Roman, sarif;
}

	

ol {
	border: 5px solid black;
	margin-top: 5px;
	margin bottom: 5px;
	margin-left: 0px;
	margin-right: 100px;
	border-color: #00169F;
	border-style: solid;
	background-color: #FBE526
}

h1 {
	text-decoration: underline overline wavy yellow;
	
}

img {
	position: center

}

.column {
    float: left;
    width: 50%;
}

<p id="background">Abbey Road is the eleventh album by English rock band the Beatles, released on 26 September 1969 by Apple Records.</p>
<a href="#top">Take me to the top of the page.</a>

